node_modules
.next
.git
README.md
Dockerfile
docker-compose.yml
.dockerignore
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.netlify
deno.lock
netlify.toml
.env
.env.local
.env.development
.env.production
.env.example
